/* http://colorschemedesigner.com/#3x61Tw0w0w0w0 */

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 115%;
  margin: 1em 3em;
  color: #34495E;
}
h1 {
  text-align: center;
  font-weight: 800;
  color: #0B61A4;
}
a {
  text-decoration: none;
  color: #00AF64;
}
a:hover {
  color: #007241;
}

.splash {
  width: 70%;
  min-width: 450px;
  margin: 0 auto;
}

.splash h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.highlight pre {
  font-size: 95%;
  padding: 0.8em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #eee;
}

/**
 * Spec style
 */
table.docinfo {
  font-size: 95%;
}
table.docinfo th {
  text-align: right;
  vertical-align: top;
  padding-right: 1em;
}